.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
  }

  /* .flex-container > div {
    background-color: #0cbeca;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */

fieldset {
    margin-bottom: 20px;
}

body {
    background-color: powderblue;
}

h1 {
    font: ;
  }

  #home-title {
    background-color: azure;
    width: 300px;
    border: 15px solid palevioletred;
    padding: 10px;
    margin: auto;
  }

  #home-header {
    background-color: darkgreen;
  }

  .new-condiment-div {
    background-color: cornflowerblue;
  }

  .menu-item-div {
  background-color: crimson;
}

#sign-in-div {
  background-color: darkorchid;
}

#your-creation {
  background-color: darkseagreen;
}