/* opacity: 0.5; --> to make items transparent*/ 

/* google font families */

  /* 
  font-family: 'Bungee Inline', cursive; --> super fat
  font-family: 'Faster One', cursive; --> the one with arrows
  font-family: 'Fredericka the Great', cursive; --> draw with pencil (like)
  font-family: 'Monoton', cursive; --> three lines (like)
  font-family: 'Permanent Marker', cursive; --> fat cursive
  font-family: 'Fascinate Inline', cursive; --> cutsie
  */

/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
  } */

  /* .flex-container > div {
    background-color: #0cbeca;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */

  #welcome-text {
    font-family: 'HELLODENVERDISPLAYREGULARRg';
    font-size: 5rem;
  }

  .neon-text {
    font-family: 'HELLODENVERDISPLAYBOLDBoldRg';
    font-size: 10rem;
    color: #ffd8d8;
    text-align: center;
  }

  .neon-text {
    text-shadow: 
    .1vw 0vw .25vw #ffd8d8, .2vw 0vw .25vw #ffd8d8, .4vw 0vw .25vw #ffd8d8, 
    .1vw 0vw   0vw #f25757, .2vw 0vw   0vw #f25757, .4vw 0vw   0vw #f25757,
    .1vw 0vw  .1vw #f25757, .2vw 0vw  .1vw #f25757, .4vw 0vw  .1vw #f25757,
    .1vw 0vw   2vw #f25757, .2vw 0vw   2vw #f25757, .4vw 0vw   2vw #f25757, 
    .1vw 0vw   1vw #e50b0b, .2vw 0vw   1vw #e50b0b, .4vw 0vw   5vw #e50b0b, 
    .1vw 0vw   5vw #e50b0b, .2vw 0vw  20vw #e50b0b, .4vw 0vw  10vw #e50b0b,
    .1vw 0vw  10vw #e50b0b, .2vw 0vw  30vw #e50b0b, .4vw 0vw  10vw #e50b0b;
  }

  .neon-wrapper {
    background-color: black; 
    padding: 8rem;
    margin: auto;
    width: fit-content;

    box-shadow:
    0 0 0.1vw  0.4vw #fff7f7,   
    0 0 0.4vw  0.6vw #e97272, 
    0 0   4vw  0.4vw #e50b0b,
    inset 0 0 1.5vw  0.4vw #e50b0b,
    inset 0 0 0.4vw  0.2vw #e97272,
    inset 0 0 0.5vw  0.2vw #fff7f7;
    border-radius: 1.5rem;
  }

fieldset {
    margin-bottom: 20px;
}

body {
  background-image: url("images/hotdog-background-small-transp.png");
  margin: 15rem;
}

@keyframes flashing {
  from {background-color: white;}
  to {background-color:  rgb(235, 49, 111);}
}

/* h1 {
  width: 500px;
  border: 7px solid rgb(235, 49, 111);
  border-style: dotted;
  padding: 10px;
  margin: auto;
  background-color: #ffd633;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
  align-content: center;

  animation-name: flashing;
  animation-duration: infinite;
  } */

  #home-subtitle {
    width: 300px;
    border: 7px solid rgb(235, 49, 111);
    border-style: dotted;
    padding: 20px;
    background-color: #ffff80;
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    text-align: center;
  }

  #home-header {
    /* align-content: center; */
    text-align: center;
  }

  /* #home-title {
    width: 500px;
    border: 7px solid rgb(235, 49, 111);
    border-style: dotted;
    padding: 10px;
    margin: auto;
    align-content: center;
    background-color: #ffff80;
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    text-align: center;

    animation-name: flashing;
    animation-duration: infinite;
  } */

.new-condiment-div {
    background-color: black;
    font-family: 'Courier Prime', monospace;
    font: white;
    font-size: 30px;
    font-weight: bolder;
    float: left;
    width: 33.33%;
}

#global-condiment-div {
  padding: 3rem;
}

.hotdog-condiments {
	display: table;   /* Allows the centering to work */
}

#your-creation {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

ul#new-hotdog-creation {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#new-hotdog-creation li {
		display: inline;
	}

.make-your-own-div {
  background-color: cornflowerblue;
  font-family: 'Courier Prime', monospace;
  font: white;
  
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font: white;
  font-size: 40px;

  background-color: #ffff80;

  border: 7px solid rgb(235, 49, 111);
  border-style: double;
  padding: 20px;
  /* margin: 2em; */
  align-content: center;
  text-align: center;
}

.menu-item-div {
  background-color: crimson;
}

.sign-in-div-class {
  background-color: #ffff80;
  margin: 5rem;
  padding: 2rem;
  border-radius: 2rem;
}

#your-creation {
  background-color: darkseagreen;
}

h6 {
  color: white;
}

legend {
  font-weight: 900;
  font-style: oblique;
  font-size: large;
}

@keyframes move {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(80%);
  }
}

#truck {
  position: relative
}

#food-truck {
  max-width:100%;
  /* height: 600px; */
  /* height: 100vmax; */
  animation: move 1000s linear infinite; 
}

@font-face {
  font-family: 'HELLODENVERDISPLAYBOLDBoldRg';
  src: url('fonts/hellodenverdisplaybold_v1.6.eot');
  src: url('fonts/hellodenverdisplaybold_v1.6.eot?#iefix') format('embedded-opentype'),
       url('fonts/hellodenverdisplaybold_v1.6.woff') format('woff'),
       url('fonts/hellodenverdisplaybold_v1.6.ttf') format('truetype'),
       url('fonts/hellodenverdisplaybold_v1.6.svg#HELLODENVERDISPLAYBOLDBoldRg') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'HELLODENVERDISPLAYREGULARRg';
  src: url('fonts/hellodenverdisplayregular_v1.6.eot');
  src: url('fonts/hellodenverdisplayregular_v1.6.eot?#iefix') format('embedded-opentype'),
       url('fonts/hellodenverdisplayregular_v1.6.woff') format('woff'),
       url('fonts/hellodenverdisplayregular_v1.6.ttf') format('truetype'),
       url('fonts/hellodenverdisplayregular_v1.6.svg#HELLODENVERDISPLAYREGULARRg') format('svg');
  font-weight: normal;
  font-style: normal;

}