/* opacity: 0.5; --> to make items transparent*/ 



.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100px;
  }

  /* .flex-container > div {
    background-color: #0cbeca;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */

fieldset {
    margin-bottom: 20px;
}

body {
  background-image: url("images/hotdog-background-small-transp.png");
  background-repeat: repeat-y;
}

h1 {
    font: ;
  }

  #home-title {
    width: 300px;
    border: 7px solid rgb(235, 49, 111);
    border-style: dotted;
    padding: 10px;
    margin: auto;
    align-content: center;
    animation-name: flashing;
    animation-duration: infinite;
    background-image: url('images/yellow.png');
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    text-align: center;
  }
  
  @keyframes flashing {
    from {background-color: white;}
    to {background-color:  rgb(235, 49, 111);}
  }
  
#home-header {
    

}

.new-condiment-div {
    background-color: black;
    font-family: 'Courier Prime', monospace;
    font: white;
}

.menu-item-div {
  background-color: crimson;
}

#sign-in-div {
  background-image: url('images/yellow.png');
}

#your-creation {
  background-color: darkseagreen;
}

h6 {
  color: white;
}

legend {
  font-weight: 900;
  font-style: oblique;
  font-size: large;
}